* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #408139, #98d398);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

header {
  margin-top: 3rem;
  font-size: 1.5rem;
}

header,
form {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  flex: 1;
}

form input,
form button {
  margin: 0.2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background: white;
}

form button:hover {
  background: #59b459;
  color: white;
}

/* expense TABLE */
table {
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
}

table,
th,
td {
  border: black 1px solid;
  border-collapse: separate;
  border-color: white;
}

th,
td {
  padding: 4px;
  text-align: center;
}

#pocket,
#wallet {
  text-align: center;
  font-size: 70px;
  filter: drop-shadow(0 0 4px black);
}

#pocket {
  color: #ffaaaa;
}

#display-wallet {
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#display-wallet button {
  border-radius: 5px;
}

#display-form {
  display: none;
}

.wallet {
  margin: 0.2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
}

.wallet-btn {
  cursor: pointer;
}

.main-btn {
  margin-top: 5px;
}

.expense-button {
  border-radius: 5px;
  padding: 13px 25px;
  text-align: center;
  display: inline-block;
  color: #042700;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.expense-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-list {
  margin-top: 0.5rem;
  min-width: 45%;
}

.expense-list caption {
  margin: 0.5rem;
}

.expense-list tr {
  background: white;
  color: black;
}

.expense {
  margin: 0.5rem;
  background: white;
  color: black;
  font-family: cursive;
  font-size: 1rem;
  transition: all 1s ease;
}

.btn-delete {
  width: 60px;
  background: white;
}

.delete {
  background: #ff5050;
  color: white;
  font-size: 15px;
  height: 25px;
  width: 40px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  background: white;
  color: #ff5050;
  border: 1px solid #ff5050;
  transition: all 0.3s ease;
}
