* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #042700, #59b459);
  color: whitesmoke;
  font-family: "Special Elite", cursive;
  min-height: 100vh;
}

header {
  margin-top: 3rem;
  font-size: 1.5rem;
}

header,
form {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  flex: 1;
}

form input,
form button {
  margin: 0.2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background: white;
}

form button {
  color: #042700;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #59b459;
  color: white;
}

/* EXPENCE TABLE */
table,
th,
td {
  border: black 1px solid;
  border-collapse: separate;
  border-color: white;
}

th,
td {
  padding: 4px;
  text-align: center;
}
.expence-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expence-list {
  margin-top: 0.5rem;
  min-width: 100%;
}

.expence-list caption {
  margin: 0.5rem;
}

.expence-list tr {
  background: white;
  color: black;
}

.expence {
  margin: 0.5rem;
  background: white;
  color: black;
  font-family: "Special Elite", cursive;
  font-size: 1rem;
  transition: all 1s ease;
}

.trashBtn {
  background: #ec2f4b;
  color: white;
  padding: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
}

.fa-trash {
  pointer-events: none;
}
